# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

# JWT
JWT_SECRET=devsecret

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE=message_queue

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# FrontEnd
FRONTEND_URL=http://localhost:9400
